@charset "UTF-8";
@import 'functions_responsive.scss';
@import 'assets/variables.scss';



/*
    font-family
font-family: 'Montserrat', sans-serif;*/

// %font-montserrat {
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 700;
// }


/**
 * mv area
 */
.mv {
    width: 100%;
    height: 100vh;
    @extend %positionRelative;

    figure {
        width: 100%;
        height: 100%;
        margin: 0;

        & > img {
            @extend %objectFit;

            @media only screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                width: 100%;
                height: auto;
            }
        }
    }


    &__content {
        /**
         * mv content
         */
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 4.5%;
        width: 100%;
        max-width: 160rem;

        @include ipadpro {
            bottom: 50%;
            transform: translateY(50%);
        }

        img {

            @extend %objectFit;

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                width: 100%;
                height: auto;
            }
        }

    }
}


/**
 * special area
 */

.special {
    width: 100%;
    height: 60rem;
    @extend %flex;
    align-items: flex-start;

    @include ipadpro {
        height: auto;
        flex-direction: column;
    }
}

.wrap {
    /**
     *  wrap
     */
    @extend %fillSize;
    @extend %positionRelative;
    overflow: hidden;
    transition: all .5s ease;
    cursor: pointer;

    &:nth-child(1) {
        background-color: #232323;
        max-width: 19rem;
        min-width: calc(11.875vw - 7.5px);
    }

    &:nth-child(2) {
        background-color: #333333;
        max-width: 16rem;
        min-width: calc(10vw - 7.5px);
    }

    &:nth-child(3) {
        background-color: #434343;
        max-width: 13.4rem;
        min-width: calc(8.375vw - 7.5px);
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        @include ipadpro {
            max-width: 100%;
        }
    }

    &__img {
        /**
         * wrap img
         */
        @extend %fillSize;
        @extend %positionRelative;
        display: none;
        overflow: hidden;

        @include mobile {
            height: 40rem;

        }

        img {
            @extend %objectFit;
            @extend %transitionDefault;

            @include onIE {
                width: 100%;
                height: auto;
                transform: scale(1.2);
            }

            @media only screen and (max-width: 500px) {
                object-position: 11%;
            }

        }
    }

    &__inner {
        @extend %positionRelative;
        @extend %fillSize;
        transition: all .5s ease;

        div {
            @extend %fillSize;
            @extend %flex;
            justify-content: center;
            flex-direction: row-reverse;
            transition: all .5s ease;

            @include ipadpro {
                flex-direction: column;
                padding: 2rem;
            }
        }
    }

    &__label {
        color: #fff;
        text-align: center;
        letter-spacing: .3rem;
        max-width: 45rem;
        position: relative;

        @include ipadpro {
            text-align: left;
            padding-left: 2rem;
        }

        @include mobile {

            line-height: 1;
            margin-top: 2rem;
        }

        .fontRoboto {
            font-size: 6.8rem;

            @include mobile {
                font-size: 5rem;
            }
        }

        .fontMontserrat {
            font-size: 4rem;
        }
    }

    &__heading,
    &__description {
        writing-mode: vertical-lr;

        @include onIE {
            writing-mode: tb-lr;
        }

        color: #fff;
        font-weight: 700;
        letter-spacing: .2rem;

        @include ipadpro {
            writing-mode: horizontal-tb;

            @include onIE {
                writing-mode: lr-tb;
            }
        }
    }

    &__heading {
        font-size: 2rem;
    }

    &__description {
        font-size: 2.4rem;
        margin-right: 1rem;
        height: calc(100% - 120px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @include mobile {
            margin-right: 0;
            white-space: unset;
            font-size: 1.4rem;
            margin-top: 1rem;
        }
    }

    .wrap__direct {
        font-size: 2rem;
        color: #fff;
        text-shadow: 0 0 1rem rgba(#333, .6);
        font-weight: 700;
        letter-spacing: .1rem;
        display: none;

        @include mobile {
            font-size: 1.4rem;
            font-weight: 500;
        }
    }

}

.wrap.active {
    max-width: 100%;

    .wrap__img {
        display: block;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(#333, .3);
            z-index: 0;
        }
    }

    .wrap__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding-left: calc(5vw - 7.5px);
        padding-bottom: calc(3.75vw - 7.5px);
        padding-right: 2rem;
        @extend %flex;
        flex-direction: column;

        @include ipadpro {
            padding: 2rem;
        }

        div {
            @extend %flex;
            justify-content: flex-end;
            flex-direction: column;
            margin-top: auto;

            @include mobile {
                padding: 2rem 0;
            }
        }
    }

    .wrap__label {
        text-align: left;

        .fontRoboto {
            font-size: 12rem;

            @include mobile {
                font-size: 6rem;
            }
        }

        .fontMontserrat {
            font-size: 6rem;

            @include mobile {
                font-size: 4rem;
            }
        }

        &::before {
            content: 'SPECIAL';
            @extend %fontMontserrat;
            font-size: 6rem;

            @include ipadpro {
                font-size: 4rem;
            }

            @include mobile {
                font-size: 2rem;
            }
        }
    }

    .wrap__heading,
    .wrap__description {
        writing-mode: unset;

        @include onIE {
            writing-mode: lr-tb;
        }

        color: #fff;
        font-weight: 700;
        letter-spacing: .2rem;
    }

    .wrap__heading {
        background-color: #333;
        max-width: 17rem;
        padding: 1rem 0;
        text-align: center;
    }

    .wrap__description {
        font-size: 3.6rem;
        text-shadow: 0 0 1rem rgba(#333, .6);
        height: auto;
        margin-top: 1rem;
        line-height: 5rem;

        @include ipadpro {
            font-size: 2.5rem;
        }

        @include mobile {
            font-size: 1.4rem;
            line-height: 2.5rem;
        }
    }

    .wrap__direct {
        display: block;
        margin-top: .5rem;
    }

}

/**
 * about
 */
.about {
    width: 100%;

    &__inner {
        width: 100%;
        @extend %flex;

        @include ipadpro {
            flex-direction: column;
        }

        li {
            width: 100%;
            max-width: 50%;
            @extend %positionRelative;

            @include ipadpro {
                max-width: 100%;
            }

            @include mobile {
                height: 40rem;
            }

            img {
                width: 100%;

                @include mobile {
                    height: 100%;
                    object-fit: cover;
                }
            }

        }
    }

    &__content {
        /**
         * about content
         */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 6rem;
        padding-left: 8rem;

        @include mobile {
            padding: 2rem;
        }

        h3 {
            max-width: 33rem;

            @include onIE {
                max-width: 34rem;
            }

            font-weight: 700;
            font-size: 3.6rem;
            color: #333;
            line-height: 5rem;

            @include mobile {
                max-width: 18rem;
                font-size: 2rem;
            }
        }

        .more-button {
            margin-top: 3rem;
        }
    }
}

/**
 * growth
 */
.growth {
    width: 100%;

    &__inner {
        /**
         * growth inner
         */
        width: 100%;
        margin: 10rem 0;
        @extend %flex;
        justify-content: space-between;

        @include ipadpro {
            margin-top: 3rem;
            margin-bottom: 5rem;
            padding: 0 2rem;
        }

        @include mobile {
            flex-direction: column;
        }

        li {
            width: 100%;
            max-width: calc(50% - 10px);
            @extend %flex;

            @include mobile {
                max-width: 100%;
            }

            &:nth-child(1) {
                flex-direction: column;
                justify-content: space-between;

                div {
                    max-height: 20rem;

                    @include mobile {
                        max-height: 100%;
                    }

                    h4 {
                        color: #333;
                        padding-left: 4.2rem;

                        @include mobile {
                            padding-left: 2rem;
                        }

                        &::after {
                            border-top: .2rem solid #333;
                            border-right: .2rem solid #333;
                        }
                    }
                }

            }

            &:nth-child(2) {
                div h4 {
                    color: #fff;
                    padding-left: 3.5rem;

                    @include mobile {
                        padding-left: 2rem;
                    }

                    &::after {
                        border-top: .2rem solid #fff;
                        border-right: .2rem solid #fff;
                    }
                }

            }

            div {
                width: 100%;

                @include onIE {
                    height: 100%;
                }

                @include mobile {
                    margin-top: 3rem;
                }

                @extend %positionRelative;
                @extend %transitionDefault;

                &:hover {
                    opacity: .75;
                }

                img {
                    width: 100%;
                }

                h4 {
                    position: absolute;
                    font-weight: 700;
                    font-size: 2.4rem;
                    top: 50%;
                    left: 0;
                    right: 0;

                    @include mobile {
                        font-size: 1.6rem;
                    }

                    span {
                        max-width: 26rem;
                        display: block;
                    }
                }
            }

        }
    }
}


/**
 * recruit
 */
.recruit {
    width: 100%;

    &__inner {

        /**
         * recruit inner
         */
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 10rem 0;

        @include mobile {
            flex-direction: column;
            margin-top: 3rem;
            margin-top: 5rem;
            padding: 0 2rem;
        }

        li {
            width: 100%;
            height: 14rem;
            max-width: calc(50% - 10px);
            background-color: #545662;
            display: flex;
            align-items: center;
            justify-content: center;
            @extend %positionRelative;
            @extend %transitionDefault;

            @include mobile {
                max-width: 100%;
                margin-top: 3rem;
            }

            &:hover {
                opacity: .75;
            }

            img {
                position: absolute;
                left: 7rem;
                top: 50%;
                transform: translateY(-50%);

                @include mobile {
                    left: 2rem;
                }
            }

            span {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2.5rem;
                color: #fff;

                &::after {
                    border-top: .2rem solid #fff;
                    border-right: .2rem solid #fff;
                }
            }
        }
    }
}


/**
 * person & job
 */
.job {
    width: 100%;
    @extend %flex;

    @media only screen and(max-width: 500px) {
        flex-direction: column;
    }

    &__inner {
        /**
         * job inner
         */
        width: 100%;
        max-width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 4.375%;
        background-color: #333;

        @include ipadpro {
            max-width: 50%;
            padding: 2rem;
        }

        @media only screen and(max-width: 500px) {
            max-width: 100%;
        }

        h2 {
            @extend %fontMontserrat;
            font-size: 6rem;
            color: #fff;
            display: flex;
            flex-direction: column;
            letter-spacing: .5rem;

            @include ipadpro {
                font-size: 4.5rem;
            }
        }

        p {
            margin-top: 3rem;
            font-size: 1.6rem;
            color: #fff;
            letter-spacing: .2rem;
        }

        .more-button {
            margin-top: 2.5rem;
            border-color: #fff;
            color: #fff;

            @media only screen and(max-width: 500px) {
                max-width: 100%;
            }
        }
    }

    &__wrap {
        /**
         * job wrap
         * js job wrap
         * slick slide in this section
         */
        width: 100%;
        max-width: 70%;
        @extend %positionRelative;

        @include ipadpro {
            max-width: 50%;
        }

        @media only screen and(max-width: 500px) {
            max-width: 100%;
        }

        &::after {
            content: '';
            width: 6rem;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #333;
        }

        .slick-next {
            width: 2.5rem;
            height: 2.5rem;
            right: 2.5rem;
            z-index: 1;

            &::before {
                content: '';
                @extend %fillSize;
                width: 2.5rem;
                height: 2.5rem;
                transform: rotate(45deg);
                border-top: .2rem solid #fff;
                border-right: .2rem solid #fff;
                display: block;
            }
        }
    }

    &__item {
        /**
         * job item
         * item in job wrap slick
         */

        @extend %positionRelative;

        img {
            width: 100%;
            filter: brightness(1.12);
        }

        div {
            position: absolute;
            left: 5rem;
            bottom: 6rem;

            span {
                @extend %fontMontserrat;
                font-size: 7rem;
                color: #fff;
            }

            h5 {
                margin-top: 2rem;
                color: #fff;
                font-weight: 700;
                font-size: 4.5rem;
                display: flex;
                flex-direction: column;
                letter-spacing: .3rem;

                span {
                    @extend %fontMontserrat;
                    display: block;
                    font-size: 2rem;
                    font-weight: 900;
                    margin-top: 1rem;
                    margin-left: 1rem;
                }
            }
        }
    }
}