@charset "UTF-8";
@import 'functions_responsive.scss';
@import 'assets/variables.scss';



/*
    font-family
font-family: 'Montserrat', sans-serif;*/

// %font-montserrat {
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 700;
// }


/**
 * mv area
 */
.mv {
    width: 100%;
    height: 100vh;
    @extend %positionRelative;

    figure {
        width: 100%;
        height: 100%;
        margin: 0;

        &>img {
            @extend %objectFit;

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                width: 100%;
                height: auto;
            }
        }
    }


    &__content {
        /**
     * mv content
     */
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 4.5%;
        width: 100%;
        max-width: 160rem;

        img {

            @extend %objectFit;

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                width: 100%;
                height: auto;
            }
        }

    }
}


/**
 * special area
 */

.special {
    width: 100%;
    height: 60rem;
    @extend %flex;
    align-items: flex-start;
}

.wrap {
    /**
     *  wrap
     */
    @extend %fillSize;
    @extend %positionRelative;
    overflow: hidden;
    transition: all .5s ease;
    cursor: pointer;

    &:nth-child(1) {
        background-color: #232323;
        max-width: 19rem;
        min-width: calc(11.875vw - 7.5px);
    }

    &:nth-child(2) {
        background-color: #333333;
        max-width: 16rem;
        min-width: calc(10vw - 7.5px);
    }

    &:nth-child(3) {
        background-color: #434343;
        max-width: 13.4rem;
        min-width: calc(8.375vw - 7.5px);
    }

    &__img {
        @extend %fillSize;
        @extend %positionRelative;
        display: none;
        overflow: hidden;

        img {
            @extend %objectFit;
            @include onIE{
                width: 100%;
                height: auto;
                transform: scale(1.2);
            }
        }
    }

    &__inner {
        @extend %positionRelative;
        @extend %fillSize;
        transition: all .5s ease;

        div {
            @extend %fillSize;
            @extend %flex;
            justify-content: center;
            flex-direction: row-reverse;
            transition: all .5s ease;
        }
    }

    &__label {
        color: #fff;
        text-align: center;
        letter-spacing: .3rem;

        .fontRoboto {
            font-size: 6.8rem;
        }

        .fontMontserrat {
            font-size: 4rem;
        }
    }

    &__heading,
    &__description {
        writing-mode: vertical-lr;

        @include onIE {
            writing-mode: tb-lr;
        }

        color: #fff;
        font-weight: 700;
        letter-spacing: .2rem;
    }

    &__heading {
        font-size: 2rem;
    }

    &__description {
        font-size: 2.4rem;
        margin-right: 1rem;
        height: calc(100% - 120px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .wrap__direct {
        font-size: 2rem;
        color: #fff;
        text-shadow: 0 0 1rem rgba(#333, .6);
        font-weight: 700;
        letter-spacing: .1rem;
        display: none;
    }

}

.wrap.active {
    max-width: 100%;

    .wrap__img {
        display: block;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(#333, .3);
            z-index: 0;
        }
    }

    .wrap__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding-left: calc(5vw - 7.5px);
        padding-bottom: calc(3.75vw - 7.5px);
        padding-right: 2rem;
        @extend %flex;
        flex-direction: column;
        div {
            @extend %flex;
            justify-content: flex-end;
            flex-direction: column;
            margin-top: auto;
        }
    }

    .wrap__label {
        text-align: left;

        .fontRoboto {
            font-size: 12rem;
        }

        .fontMontserrat {
            font-size: 6rem;
        }

        &::before {
            content: 'SPECIAL';
            @extend %fontMontserrat;
            font-size: 6rem;
        }
    }

    .wrap__heading,
    .wrap__description {
        writing-mode: unset;

        @include onIE {
            writing-mode: lr-tb;
        }

        color: #fff;
        font-weight: 700;
        letter-spacing: .2rem;
    }

    .wrap__heading {
        background-color: #333;
        max-width: 17rem;
        padding: 1rem 0;
        text-align: center;
    }

    .wrap__description {
        font-size: 3.6rem;
        text-shadow: 0 0 1rem rgba(#333, .6);
        height: auto;
        margin-top: 1rem;
        line-height: 5rem;
    }

    .wrap__direct {
        display: block;
        margin-top: .5rem;
    }

}

/**
 * about
 */
.about{
    width: 100%;

    &__inner{
        width: 100%;
        @extend %flex;

        li{
            width: 100%;
            max-width: 50%;
            @extend %positionRelative;

            img{
                width: 100%;
            }

        }
    }

    &__content{
        /**
         * about content
         */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 6rem;
        padding-left: 8rem;

        h3{
            max-width: 33rem;
            @include onIE{
                max-width: 34rem;
            }
            font-weight: 700;
            font-size: 3.6rem;
            color: #333;
            line-height: 5rem;
        }

        .more-button{
            margin-top: 3rem;
        }
    }
}

/**
 * growth
 */
.growth{
    width: 100%;

    &__inner{
        width: 100%;
        margin: 10rem 0;
        @extend %flex;
        justify-content: space-between;

        li{
            width: 100%;
            max-width: calc(50% - 10px);
            @extend %flex;

            &:nth-child(1){
                flex-direction: column;
                justify-content: space-between;

                div {
                    max-height: 20rem;
                    h4{
                        color: #333;
                        padding-left: 4.2rem;
                        &::after{
                            border-top: .2rem solid #333;
                            border-right: .2rem solid #333;
                        }
                    }
                }

            }
             &:nth-child(2){
                div h4{
                    color: #fff;
                    padding-left: 3.5rem;
                    &::after{
                        border-top: .2rem solid #fff;
                        border-right: .2rem solid #fff;
                    }
                }

            }

            div {
                width: 100%;
                @include onIE{
                    height: 100%;
                }
                @extend %positionRelative;

                img{
                    width: 100%;
                }

                h4{
                    position: absolute;
                    font-weight: 700;
                    font-size: 2.4rem;
                    top: 50%;
                    left: 0;
                    right: 0;
                    span{
                        max-width: 29rem;
                    }

                    &::after{
                        content: '';
                        position: absolute;
                        right: 3rem;
                        width: 2.5rem;
                        height: 2.5rem;
                        transform: rotate(45deg);
                    }
                }
            }

        }
    }
}


/**
 * recruit
 */
.recruit{
    width: 100%;
}


